@model Vendor

@{
    ViewData["Title"] = "Create";
}

<style>
    label {
        width: 200px;
        margin-right: 30px;
    }
    .form-group {
        padding-top: 15px;
    }

    input {
        height: 45px;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=" form-group d-flex column">
                <label asp-for="Name" class="control-label fw-bold"></label>
                <input asp-for="Name" class="form-control w-50" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class=" form-group d-flex column">
                <label class="control-label fw-bold">Address 1:</label>
                <input asp-for="Address1" class="form-control w-50" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class=" form-group d-flex column">
                <label class="control-label fw-bold">Address 2:</label>
                <input asp-for="Address2" class="form-control w-50" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class=" form-group d-flex column">
                <label asp-for="City" class="control-label fw-bold"></label>
                <input asp-for="City" class="form-control w-50" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class=" form-group d-flex column">
                <label class="control-label fw-bold">Province/State:</label>
                <input asp-for="ProvinceOrState" class="form-control w-50" />
                <span asp-validation-for="ProvinceOrState" class="text-danger"></span>
            </div>
            <div class=" form-group d-flex column">
                <label class="control-label fw-bold">Zip/Postal Code:</label>
                <input asp-for="ZipOrPostalCode" class="form-control w-50" />
                <span asp-validation-for="ZipOrPostalCode" class="text-danger"></span>
            </div>
            <div class=" form-group d-flex column">
                <label class="control-label fw-bold">Phone</label>
                <input asp-for="VendorPhone" class="form-control w-50" />
                <span asp-validation-for="VendorPhone" class="text-danger"></span>
            </div>
            <div class=" form-group d-flex column">
                <label class="control-label fw-bold">Contact First Name:</label>
                <input asp-for="VendorContactFirstName" class="form-control w-50" />
                <span asp-validation-for="VendorContactFirstName" class="text-danger"></span>
            </div>
            <div class=" form-group d-flex column">
                <label class="control-label fw-bold">Contact Last Name:</label>
                <input asp-for="VendorContactLastName" class="form-control w-50" />
                <span asp-validation-for="VendorContactLastName" class="text-danger"></span>
            </div>
            <div class="form-group d-flex column">
                <label class="control-label fw-bold">Contact Email:</label>
                <input asp-for="VendorContactEmail" class="form-control w-50" />
                <span asp-validation-for="VendorContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group d-flex column">
                <button type="submit" value="Create" class="m-2 px-5 btn btn-info text-white fw-bold">Create</button>
                <a Href="@Url.Action("Index", "Vendors")" value="Cancel" class="m-2 px-5 btn btn-info text-white fw-bold">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
